

.smallLogo {
  height: 10px;
  margin-top: 0.5vh;
}

.nav {
  align-items: center;
  box-shadow: inset 1px 1px 60px 10px var(--lazy-mayo, 0.3), 3px 3px 5px -1px var(--lazy-barbecue, 0.5);
  display: none;
  height: 10vh;
  justify-content: end;
  margin-top: 0;
  width: 100%;
}

.ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  position: relative;
  width: 100%;
}

.liLogo {
  left: 0;
  margin: 1vh 0 0 1vw;
  position: absolute;
}

.liLogo:hover {
  cursor: pointer;
}

.li {
  color: var(--lazy-white);
  font-size: 2em;
  margin-right: 2vw;
  text-decoration: none;
}

.li:hover  {
  cursor: pointer;
}

.liActive {
  color: var(--lazy-ketchup);
  font-size: 2em;
  margin-right: 2vw;
  text-decoration: none;
  filter: drop-shadow(2px 2px 0.2rem var(--lazy-white));
}

@media screen and (min-width: 700px) {
  .nav {
    display: flex;
  }
}
