.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 1px 1px 60px 10px var(--lazy-mayo, 0.3), 3px 3px 5px -1px var(--lazy-barbecue, 0.5);
}

.movieCard {
  height: 60vh;
  width: 90vw;
  margin: auto;
  position: relative;
  display: flex;
}

.cardFront {
  display: flex;
}

.btnRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  height: 4vh;
  /* bottom: 0; */
  position: relative;
  z-index: 1;
}

.movieMaterialIconsOutlined {
  z-index: 2;
  background: none;
  border: none;
  border-radius: 50%;
  color: var(--lazy-white);
  display: inline-block;
  direction: ltr;
  font-family: "Material Icons";
  font-feature-settings: "liga";
  font-style: normal;
  font-size: 32px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  padding: 0.5vh 1vw;
  text-rendering: optimizeLegibility;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#MovieisFavorite {
  color: var(--lazy-mayo);
  filter: drop-shadow(2px 2px 0.2rem var(--lazy-white));
}

#MovienotFavorite {
  color: var(--lazy-white);
}

#MovieisAdd {
  color: var(--lazy-ketchup);
  filter: drop-shadow(2px 2px 0.2rem var(--lazy-white));
}

#MovienotAdd {
  color: var(--lazy-white);
}

.movieBtnMore {
  background: none;
  border: none;
}

.cardBack {
  background-color: burlywood;
  backface-visibility: inherit;
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  margin: auto;
  text-align: center;
  overflow: scroll;
}

.movieCardTitle {
  width: 100%;
  font-size: xx-large
}

#logoFondDesc {
  object-fit: contain;
  opacity: 20%;
  position: absolute;
}

#movieBtnClose {
  position: absolute;
  bottom: 0;
  left: 0;
}
